.git
/application/vendor
.idea
!.gitignore
.postgr-env
.postgr-env.exemple
.xdebug-env.exemple
.xdebug-env
/.phpstorm.meta.php
/application/_ide_helper.php
docker-compose.yml
docker-compose.test.yml
docker-compose.prod.yml
/application/node_modules
